@model a.Models.GP_Categories
<form method="post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Locker Reservation</h2>
			<hr />
		</div>
        <div class="form-group">
            <label asp-for="GP_App4sch"></label>
            <input asp-for="GP_App4sch" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GP_Name"></label>
            <input asp-for="GP_Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GP_Address"></label>
            <input asp-for="GP_Address" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Date of Reservation</label>
            <div class="form-group">
                <input asp-for="GP_Date" type="date" />
                <span asp-validation-for="GP_Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GP_Classification" class="control-label"></label>
            @Html.DropDownList("GP_Classification",
            new List<SelectListItem> {
                        new SelectListItem { Text = "Student", Value = "Student" },
                        new SelectListItem { Text = "Teacher", Value = "Teacher" },
                        new SelectListItem { Text = "Other Staff", Value = "Other Staff" }
                        },
                        new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label asp-for="GP_Department" class="control-label"></label>
            @Html.DropDownList("GP_Department",
                        new List<SelectListItem> {
                        new SelectListItem { Text = "BSIT", Value = "BSIT" },
                        new SelectListItem { Text = "BSCPE", Value = "BSIT" },
                        new SelectListItem { Text = "BSCS", Value = "BSIT" }
                        },
                        new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label asp-for="GP_Year" class="control-label"></label>
            @Html.DropDownList("GP_Year",
                        new List<SelectListItem> {
                        new SelectListItem { Text = "1st Year", Value = "1st Year" },
                        new SelectListItem { Text = "2nd Year", Value = "2nd Year" },
                        new SelectListItem { Text = "3rd Year", Value = "3rd Year" },
                        new SelectListItem { Text = "4th Year", Value = "4th Year" }

                        },
                        new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label asp-for="GP_PlateNumber"></label>
            <input asp-for="GP_PlateNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GP_Vehicle" class="control-label"></label>
            @Html.DropDownList("GP_Vehicle",
                        new List<SelectListItem> {
                        new SelectListItem { Text = "Bicycle", Value = "Bicycle" },
                        new SelectListItem { Text = "Motorcycle", Value = "Motorcycle" },
                        new SelectListItem { Text = "Car", Value = "Car" }
                        },
                        new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">Date of Expiration</label>
            <div class="form-group">
                <input asp-for="GP_DateExpiration" type="date" />
                <span asp-validation-for="GP_DateExpiration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GP_Marker"></label>
            <input asp-for="GP_Marker" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GP_Color"></label>
            <input asp-for="GP_Color" class="form-control" />
        </div>
        <div class="form-group">
            <label>Upload Image</label>
            <input asp-for="ImageFile" type="file" accept="image/*" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GP_Approval1" class="control-label"></label>

            @Html.DropDownList("GP_Approval1",
                        new List<SelectListItem> {
                        new SelectListItem { Text = "Pending", Value = "Pending" },
                        new SelectListItem { Text = "Approved", Value = "Approved" },
                        new SelectListItem { Text = "Denied", Value = "Denied" }
                        },
                        new { @class = "form-control" })

        </div>
        <div class="form-group">
            <label asp-for="GP_Approval2" class="control-label"></label>

            @Html.DropDownList("GP_Approval2",
                        new List<SelectListItem> {
                        new SelectListItem { Text = "Pending", Value = "Pending" },
                        new SelectListItem { Text = "Approved", Value = "Approved" },
                        new SelectListItem { Text = "Denied", Value = "Denied" }
                        },
                        new { @class = "form-control" })

        </div>
        <div class="form-group">
            <label asp-for="GP_Approval3" class="control-label"></label>

            @Html.DropDownList("GP_Approval3",
                        new List<SelectListItem> {
                        new SelectListItem { Text = "Pending", Value = "Pending" },
                        new SelectListItem { Text = "Approved", Value = "Approved" },
                        new SelectListItem { Text = "Denied", Value = "Denied" }
                        },
                        new { @class = "form-control" })

        </div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Update</button>
			<a asp-controller="Student" asp-action="Index">Back to List</a>
		</div>
	</div>
</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}